<form [formGroup]="prefForm" (ngSubmit)="updatePref()">
  <div class="form-group mb-4">
    <div *ngIf="userPhotos">
      <div class="row custom-control-inline" *ngFor="let photo of userPhotos; let i = index">
        <div class="img-wrap d-inline-block position-relative">
          <img height="150px" width="150px"
               class="rounded m-2" src="{{ photo.photo }}">
          <button type="button" class="close pull-right" aria-label="Close" (click)="deletePhoto(photo.id_photo, photo.id_user, i)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group mb-4">
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile02" (change)="onFileChanged($event)">
        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
      </div>
      <div class="input-group-append">
        <span class="input-group-text" id="inputGroupFileAddon02" (click)="uploadPhoto()">Upload</span>
      </div>
    </div>
  </div>
  <div class="form-group mb-4">
    <label>Biography</label>
    <textarea formControlName="bio" class="form-control" rows="3" placeholder="Write something about yourself.."></textarea>
    <button type="submit" class="btn btn-primary m-2">Update</button>
  </div>
  <div class="form-group mb-4">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="tagsHeading">
          <h5 class="mb-0">
            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#tagsCollapse" aria-expanded="false" aria-controls="tagsCollapse">
              Choose your favorite tags
            </button>
          </h5>
        </div>
        <div id="tagsCollapse" class="collapse" aria-labelledby="tagsHeading" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div *ngFor="let tag of tags; let i = index">
                  <div *ngIf="isSelectedTag(tag.id_tag); else notSelected">
                    <div class="card m-1" id="selected-tag" style="cursor: pointer;" (click)="removeUserTag(tag.id_tag)">
                      <h5 class="card-title">{{ tag.tag }}</h5>
                      <p class="card-text">{{ tag.label }}</p>
                    </div>
                  </div>
                  <ng-template #notSelected>
                    <div class="card m-1" div="selected-tag" style="cursor: pointer;" (click)="addUserTag(tag)">
                      <h5 class="card-title">{{ tag.tag }}</h5>
                      <p class="card-text">{{ tag.label }}</p>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group mb-4 col-md-6">
      <label>I'm a</label>
      <select class="custom-select" formControlName="gender" (change)="updatePref()">
        <option selected>Male</option>
        <option>Female</option>
      </select>
    </div>
    <div class="form-group mb-4 col-md-6">
      <label>I'm interested by</label>
      <select class="custom-select" formControlName="interest" (change)="updatePref()">
        <option selected>Male</option>
        <option>Female</option>
        <option>Both</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group mb-4 col-md-6">
      <label>Distance {{ distance }} kms</label>
      <p-slider [(ngModel)]="distance" [ngModelOptions]="{standalone: true}"  [min]="0" [max]="100" (mouseup)="updatePref()"></p-slider>
    </div>
    <div class="form-group mb-4 col-md-6">
      <label>Age range {{ ageRange[0] }} - {{ ageRange[1] }}</label>
      <p-slider [(ngModel)]="ageRange" [ngModelOptions]="{standalone: true}" [range]="true" (mouseup)="updatePref()"></p-slider>
    </div>
  </div>
  <div class="form-group mb-4">
   <!-- <button [routerLink]="['/settings']" [queryParams]="{id: '1'}" type="button" class="btn btn-primary btn-lg btn-block">SETTINGS</button> -->
  </div>
  <div class="row">
    <div class="form-group mb-4 col-md-6">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="navigateToSettings()">SETTINGS</button>
    </div>
    <div class="form-group mb-4 col-md-6">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="logOut()">DECONNEXION</button>
    </div>
  </div>
</form>

