<div class="chatView">

  <div class="top" style="text-align: center; font-size: 30px;">
    <!-- <a href=""><button class="close">x</button></a> -->
    <div *ngIf="!matchesObject; else elseBlock5">
      <div class="matchesList">
        <div class="matchPicDiv" *ngFor="let match of matchesObjects">
          <a (click)="loadMessages(match.id.id_match)" (click)="loadMatchInfos(match.id.id_user_matched)" style="cursor: pointer;"><img class="matchPicture" src="data:image/png;base64,{{ match.picture }}" alt=""></a>
        </div>
      </div>
      <hr>
      <div class="matchInfos">
        <!-- selected conversation pic & match name -->
        <div *ngIf="!userMatchedName; else elseBlock"><h5>Click on a match to open a conversation 😊</h5></div>
        <ng-template #elseBlock>
            <a (click)="loadMatchProfileData()" style="cursor: pointer;"><img class="conversationPicture" src="data:image/png;base64,{{ userMatchedPicture }}" alt=""></a>
            <label class="user"><strong>{{userMatchedName}}</strong></label>
        </ng-template>
      </div>
    </div>
    <ng-template #elseBlock5>
      <div class="sadMessage">
        <h5>No matches yet 😢 Time to make some swipes!</h5>
      </div>
    </ng-template>
  </div>
<!-- if select is profile, display profile, if not display contentArea -->
<div *ngIf="profileWasOpened === 1; else elseBlock3">
    <div class="profileArea" id="profileArea">
        <div class="userPicsDiv" *ngFor="let pic of userMatchedPhotos">
          <a style="cursor: pointer;"><img class="userPicture" src="data:image/png;base64,{{ pic.photo }}" alt=""></a>
        </div>
        <div *ngIf="userInfos[0]">
          <label>{{ userInfos[0].birthdate }} yo, {{ userInfos[0].distance }} km away</label>
          <br>
          <div *ngIf="userInfos[0].bio;">
            <label>" {{ userInfos[0].bio }} "</label>
            <br>
          </div>
          <label>Last connected : 25 minutes ago</label>
          <br>
          <label>Delete match / Block</label>
        </div>
    </div>
</div>
<ng-template #elseBlock3>
  <div class="contentArea" id="contentArea">
    <div *ngIf="aConversationWasOpened === 1">
      <div *ngIf="messageList.length > 0; else elseBlock2">
        <div class="fullMessage" *ngFor="let message of messageList">
          <div [ngClass]="message.id === id ? 'message2' : 'message1'">
            <label>{{ message.msg }}</label>
          </div>
          <label [ngClass]="message.id === id ? 'infosLabel2' : 'infosLabel1'">{{ message.ts }}</label>
        </div>
      </div>
      <ng-template #elseBlock2>
        <h5>Don't be shy, make the first step! 🙃</h5>
      </ng-template>
    </div>
  </div>
  <div *ngIf="aConversationWasOpened === 1">
    <div class="bottom">
      <form action="" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <input id="message" formControlName="message" #message class="form-control" class="messageInput" autocomplete="off"/>
        <button type="submit" class="btn btn-primary btn-lg btn-block">SEND</button>
      </form>
    </div>
  </div>
</ng-template>

</div>