<div *ngIf="!matchesObject;">
  <div class="row">
    <div *ngFor="let match of matchesObjects">
      <a (click)="loadMessages(match.id.id_match)" (click)="loadMatchInfos(match.id.id_user_matched)" style="cursor: pointer;">
        <img class="rounded-circle m-1" src="{{ match.picture }}" height="80px" width="80px">
      </a>
    </div>
  </div>
  <!-- selected conversation pic & match name -->
  <hr>  
  <div class="p-2" *ngIf="!userMatchedName; else elseBlock">
    <h5>Click on a match to open a conversation 😊</h5>
  </div>
  <ng-template class="p-2" #elseBlock>
    <a (click)="loadMatchProfileData()" style="cursor: pointer;">
      <img class="rounded-circle" height="80px" width="80px" src="{{ userMatchedPicture }}" alt="">
    </a>
    <h2 class="m-auto p-2">{{ userMatchedName }}</h2>
  </ng-template>
</div>
<!-- if select is profile, display profile, if not display contentArea -->
<div *ngIf="profileWasOpened === 1; else elseBlock3">
  <carousel class="p-2">
    <div *ngFor="let pic of userMatchedPhotos">
      <slide>
        <img class="mx-auto" src="{{ pic.photo }}" style="display: block; height: 400px;">
      </slide>
    </div>
  </carousel>
  <div class="row m-2" style="color: rgba(240, 67, 33, 0.8)">
    <div class="col-md-4">
      <i class="fas fa-birthday-cake proficon"></i>
      <h5>{{ userInfos[0].birthdate }} yo</h5>
    </div>
    <div class="col-md-4">
      <i class="fas fa-map-pin proficon"></i>
      <h5>{{ userInfos[0].distance }} km</h5>
    </div>
    <div class="col-md-4">
      <i class="fas fa-heart proficon"></i>
      <h5>{{ userInfos[0].popularity }} %</h5>
    </div>
  </div>
  <div *ngIf="userInfos[0].bio">
    <h5>BIOGRAPHIE</h5>
    <p>{{ userInfos[0].bio }}</p>
  </div>
  <div class="row m-2">
    <div class="form-group col-md-6">
      <button type="button" class="btn btn-primary btn-block" (click)="reportUser(userInfos[0].id_user)">BLOCK</button>
    </div>
    <div class="form-group col-md-6">
      <button type="button" class="btn btn-primary btn-block" (click)="removeUser(userInfos[0].id_user)">REMOVE</button>
    </div>
  </div>
</div>
<ng-template #elseBlock5>
  <h5>No matches yet 😢 Time to make some swipes!</h5>
</ng-template>
<ng-template #elseBlock3>
  <div *ngIf="aConversationWasOpened === 1">
    <div *ngIf="messageList.length > 0; else elseBlock2">
      <div class="fullMessage" *ngFor="let message of messageList">
        <div [ngClass]="message.id === id ? 'message2' : 'message1'">
          <label>{{ message.msg }}</label>
        </div>
        <label [ngClass]="message.id === id ? 'infosLabel2' : 'infosLabel1'">{{ message.ts }}</label>
      </div>
    </div>
    <ng-template #elseBlock2>
      <h5>Don't be shy, make the first step! 🙃</h5>
    </ng-template>
  </div>
  <div *ngIf="aConversationWasOpened === 1">
    <form action="" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
      <div class="input-group mb-3">
        <input type="text" formControlName="message" #message class="form-control" rows="3" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Send</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

