<div class="chatView">

  <div class="top" style="text-align: center; font-size: 30px;">
    <!-- <a href=""><button class="close">x</button></a> -->
    <div class="matchesList" *ngFor="let match of matchesList">
      <!-- <p>{{match}}</p> -->
      <!-- add link to conversation around img -->
      <img class="matchPicture" src="data:image/png;base64,{{ userPicture }}" alt="">
    </div>
    <hr>
    <div class="matchInfos">
      <img class="conversationPicture" src="data:image/png;base64,{{ userPicture }}" alt="">
      <label class="user"><strong>Martin</strong></label>
    </div>
  </div>

  <div class="contentArea">

    <div class="fullMessage">
      <div class="message1">
          <label>J'adore les kinder surprise :p</label>
      </div>
      <label class="infosLabel1">le 12/02/2019 à 21h30</label>
    </div>

    <div class="fullMessage">
      <div class="message2">
        <label>Moi aussi hihi</label>
      </div>
      <label class="infosLabel2">le 12/02/2019 à 21h37</label>
    </div>

  </div>

  <div class="bottom">
      <input class="messageInput">
      <button type="button" class="btn btn-primary btn-lg btn-block">SEND</button>
  </div>

</div>