@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~primeng/resources/themes/bootstrap/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

html {
    height: 100%;

}

.ui-toast-message {
  border-radius: 5px;
}

.ui-toast-message-success {
  background-color: rgba(113, 221, 113, 0.5);
}

.ui-toast-message-error {
  background-color: rgba(221, 113, 113, 0.5);
}

.human-heart {
    width: 100%;
    float: none;
    margin-right: 0;
    animation: .8s infinite heartEffect;
}

@keyframes heartEffect {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

// -------------------------------------- //
// --------------- BTNS ----------------- //
// -------------------------------------- //

.btn-primary {
    background-color: white;
    color: rgba(240, 67, 33, 0.8);
    border: 0;
    border-radius: 10px;
    width: 100px;      
    transition: color 0.5s linear; /* vendorless fallback */
    -o-transition: color 0.5s linear; /* opera */
    -ms-transition: color 0.5s linear; /* IE 10 */
    -moz-transition: color 0.5s linear; /* Firefox */
    -webkit-transition: color 0.5s linear; /*safari and chrome */
}

.btn-primary:hover {
    background-image: linear-gradient(rgba(240, 67, 33, 0.8), rgba(240, 92, 33, 0.8));
    color: white;
}

// -------------------------------------- //
// --------------- MODAL ---------------- //
// -------------------------------------- //
.modal {
    

    .modal-header, .modal-footer {
        border: 0;
    }

    .modal-body {
        width: 80%;
        margin: auto;
    }

    .modal-content {
        background-color: rgba($color: #FFFFFF, $alpha: 0.8)
    }
}
