<div class="user-zone col-sm-3 col-md-6 col-lg-4 col-xl-2">
    <div class="user-nav row align-items-center">
      <!-- <i class="fas fa-user"></i> -->
      <h3 class="pl-4">Mon profil</h3>
    </div>
  </div>
  <div class="match-zone col-sm-9 col-md-6 col-lg-8 col-xl-10 text-center">
    <img src="../../assets/img/logo.svg" height="100" alt="">
    <div class="swipe-zone">
      <div class="swipe">
      </div>
      <div class="row">
        <div class="swipe-buttons m-auto align-items-center">
          <button style="color: rgb(255, 61, 61)" class="btn"><i class="fas fa-heart-broken p-3"></i></button>
          <button style="color: rgb(96, 190, 96)" class="btn"><i class="fas fa-heart p-3"></i></button>
        </div>
      </div>
    </div>
  </div> 