.swipe-buttons {
  text-align: center;

  i {
    margin: 10px;
    font-size: 40px;
    background-color: white;
    border-radius: 100%;
  }

  i:hover {
    transform: scale(1.1);
  }
}

.match-zone {
  overflow: hidden;
  right: 0;
  position: absolute;
  height: 100%;
  padding: 0;
  background-color: rgb(245, 247, 250);

  .swipe-zone {
    height: 70%;
    width: 100%;
    .swipe {
      margin: auto;
      background-image: linear-gradient(rgb(255, 255, 255), rgba(70, 70, 70, 0.13));
      border-radius: 10px;
      height: 90%;
      width: 600px;
    }
  }
}

h2:hover {
  background: yellow;
}

body .ui-slider .ui-slider-range {
  background-color: black;
}

.photoAdd {
  height: 150px;
  width: 150px;
  background-image: linear-gradient(rgba(240, 67, 33, 0.5), rgba(240, 92, 33, 0.5));
}

.noPic {
  i {
    font-size: 60px;
    vertical-align: middle;
  }
}
