<div class="notifView">

    <div class="top" style="text-align: center; font-size: 30px;">
      <label class="user"><strong>Notifications</strong></label>
      <a href="http://localhost:4200/home"><button class="close">x</button></a>
    </div>
  
    <div class="contentArea">
  
      <div class="fullNotif2">
        <div class="messages">
          <label class="messagesLabel"><strong>Justine vous a envoyé un message !</strong></label>
        </div>
      </div>
      <label class="infosLabel">le 12/02/2019 à 21h37</label>

      <div class="fullNotif1">
        <div class="messages">
            <label class="messagesLabel"><strong>Vous avez un nouveau match !</strong></label>
        </div>
      </div>
      <label class="infosLabel">le 12/02/2019 à 21h30</label>
  
      <div class="fullNotif1">
        <div class="messages">
            <label class="messagesLabel"><strong>Justine a aimé votre profil !</strong></label>
        </div>
      </div>
      <label class="infosLabel">le 12/02/2019 à 21h29</label>

    </div>
  
  </div>