<div class="notifView">

    <div class="top" style="text-align: center; font-size: 30px;">
      <label class="title"><strong>Notifications</strong></label>
      <!-- <a href=""><button class="close">x</button></a> -->
    </div>
  
    <div class="contentArea">
  
      <div class="fullNotif">
        <div class="messages1">
          <label class="messagesLabel">Justine vous a envoyé un message !</label>
        </div>
        <label class="infosLabel">le 12/02/2019 à 21h37</label>
      </div>

      <div class="fullNotif">
        <div class="messages2">
            <label class="messagesLabel">Vous avez un nouveau match !</label>
        </div>
        <label class="infosLabel">le 12/02/2019 à 21h30</label>
      </div>
  
      <div class="fullNotif">
        <div class="messages2">
            <label class="messagesLabel">Justine a aimé votre profil !</label>
        </div>
        <label class="infosLabel">le 12/02/2019 à 21h29</label>
      </div>

    </div>
  
  </div>