<!-- Notifications modal -->
<div [hidden]="hideModal" class="modal fade" id="notificationsModal" tabindex="-1" role="dialog" aria-labelledby="notificationsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close m-0 p-0" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <h3>Your notifications</h3><br>
            <form [formGroup]="changeNotificationsForm">
              <div class="form-group row">
                  <div class="custom-control custom-switch col-sm-10" style="border: 1px solid rgb(0, 0, 0, 0.1); border-radius: 5px;">
                    <label style="float:left;">New match</label>
                    <input  type="checkbox" 
                            (change)="updateNotifications($event)" 
                            class="custom-control-input" 
                            formControlName="matchSwitch"
                            id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1" style="float:right;"></label>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="custom-control custom-switch col-sm-10" style="border: 1px solid rgb(0, 0, 0, 0.1); border-radius: 5px;">
                    <label style="float:left;">New message</label>
                    <input  type="checkbox" 
                            (change)="updateNotifications($event)" 
                            class="custom-control-input" 
                            formControlName="messageSwitch"
                            id="customSwitch2">
                    <label class="custom-control-label" for="customSwitch2" style="float:right;"></label>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="custom-control custom-switch col-sm-10" style="border: 1px solid rgb(0, 0, 0, 0.1); border-radius: 5px;">
                    <label style="float:left;">New like</label>
                    <input  type="checkbox" 
                            (change)="updateNotifications($event)" 
                            class="custom-control-input" 
                            formControlName="likeSwitch"
                            id="customSwitch3">
                    <label class="custom-control-label" for="customSwitch3" style="float:right;"></label>
                  </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>

<!-- Username modal -->
<div [hidden]="hideModal" class="modal fade" id="usernameModal" tabindex="-1" role="dialog" aria-labelledby="usernameModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close m-0 p-0" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <h3>{{ resolvedData.firstname }} {{ resolvedData.lastname }} </h3><br>

          <form [formGroup]="changeNameForm" (ngSubmit)="updateName()">
            <div class="form-group">
              <input 
              type="text" 
              class="form-control" 
              name="newFirstName" 
              placeholder="Firstname"
              formControlName="newFirstName"
              >
            </div>
            <div class="form-group">
              <input 
              type="text" 
              class="form-control" 
              name="newLastName" 
              placeholder="Lastname"
              formControlName="newLastName"
              >
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary m-auto">SAVE</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

<!-- Email modal -->
<div [hidden]="hideModal" class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close m-0 p-0" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">

          <h3>{{ resolvedData.email }}</h3><br>
          <h4 *ngIf="checkAccountConfirmed(resolvedData)" style="color: green">Confirmed</h4>
          <h4 *ngIf="!checkAccountConfirmed(resolvedData)" style="color: red">Please confirm email</h4>
          <form [formGroup]="changeEmailForm" (ngSubmit)="updateEmail()">
            <div class="form-group">
              <input 
              type="text" 
              class="form-control" 
              name="newEmail"
              formControlName="newEmail"
              placeholder="New email">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary m-auto">SAVE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Password modal -->
<div [hidden]="hideModal" class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close m-0 p-0" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()">
            <div class="form-group">
              <label>New password</label>
              <input 
              type="password" 
              class="form-control" 
              name="newPassword" 
              formControlName="newPassword"
              placeholder="New password">
            </div>
            <label>Confirm new password</label>
            <div class="form-group">
              <input 
              type="password" 
              class="form-control" 
              name="newPasswordConfirmation" 
              formControlName="newPasswordConfirmation"
              placeholder="Confirm new password">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary m-auto">SAVE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="" style="border: 1px solid rgb(0, 0, 0, 0.1); border-radius: 5px;">
    <div class="">
      <div class="top_elem">
          <h3 style="float:left;">Settings</h3>
          <h5 style="color:blue; float:right;">Back</h5>
      </div>
    </div>
    <div class="form-group row">
        <button class="btn btn-light col-sm-2" style="border: 1px solid rgb(0, 0, 0, 0.1); border-radius: 5px;" data-toggle="modal" data-target="#notificationsModal"> Notifications </button>
    </div>
    <div class="form-group row">
      <button class="btn btn-light col-sm-2" style="border: 1px solid rgb(0, 0, 0, 0.1); border-radius: 5px;" data-toggle="modal" data-target="#usernameModal"> Username </button>
    </div>
    <div class="form-group row">
      <button class="btn btn-light col-sm-2" style="border: 1px solid rgb(0, 0, 0, 0.1); border-radius: 5px;" data-toggle="modal" data-target="#emailModal"> Email </button>
    </div>
    <div class="form-group row">
      <button class="btn btn-light col-sm-2" style="border: 1px solid rgb(0, 0, 0, 0.1); border-radius: 5px;" data-toggle="modal" data-target="#passwordModal"> Password </button>
    </div>

</div>
