<!-- Username modal -->
<div class="modal fade" id="usernameModal" tabindex="-1" role="dialog" aria-labelledby="usernameModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close m-0 p-0" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <h3>{{ resolvedData.firstname }} {{ resolvedData.lastname }} </h3><br>
          <form [formGroup]="changeNameForm" (ngSubmit)="updateName()">
            <div class="form-group">
              <input
              type="text"
              class="form-control"
              placeholder="New firstname"
              formControlName="newFirstName">
            </div>
            <div class="form-group">
              <input
              type="text"
              class="form-control" 
              name="newLastName" 
              id="newLastName"
              #newLastName
              placeholder="New lastname"
              formControlName="newLastName"
              >
            </div>
            <p id="lastname_message" class="lastname_message"></p>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary m-auto">SAVE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Email modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close m-0 p-0" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">

          <h3>{{ resolvedData.email }}</h3><br>
          <h4 *ngIf="checkAccountConfirmed(resolvedData)" style="color: green">Confirmed</h4>
          <h4 *ngIf="!checkAccountConfirmed(resolvedData)" style="color: red">Please confirm email</h4>
          <form [formGroup]="changeEmailForm" (ngSubmit)="updateEmail()">
            <div class="form-group">
              <input 
              type="text" 
              class="form-control" 
              name="newEmail"
              id="newEmail"
              #newEmail
              formControlName="newEmail"
              placeholder="New email">
            </div>
            <p id="email_message" class="email_message"></p>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary m-auto">SAVE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Password modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close m-0 p-0" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()">
            <div class="form-group">
              <label>New password</label>
              <input 
                type="password" 
                class="form-control" 
                name="newPassword" 
                id="newPassword"
                #newPassword
                formControlName="newPassword"
                placeholder="New password"
              >
            </div>
            <p id="password_len_message" class="password_len_message"></p>
            <p id="password_up_message" class="password_up_message"></p>
            <p id="password_num_message" class="password_num_message"></p>
            <p id="password_spe_message" class="password_spe_message"></p>
            <label>Confirm new password</label>
            <div class="form-group">
              <input 
                type="password" 
                class="form-control" 
                name="newPasswordConfirmation" 
                id="newPasswordConfirmation"
                #newPasswordConfirmation
                formControlName="newPasswordConfirmation"
                placeholder="Confirm new password"
                >
            </div>
            <p id="password_match_message" class="password_match_message"></p>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary m-auto">SAVE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="logo m-auto">
          <p style="font-size: 40px;">Settings</p>
        </div>
        <a href="http://localhost:4200/home">
          <button type="button" class="close m-0 p-0" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </a>
      </div>

      <div class="modal-body text-center">
        <div class="form-group mb-4">
          <button class="btn btn-light col-sm-2"  data-toggle="modal" data-target="#usernameModal"> Username </button>
        </div>
        <div class="form-group mb-4">
          <button class="btn btn-light col-sm-2"  data-toggle="modal" data-target="#emailModal"> Email </button>
        </div>
          <div class="form-group mb-4">
          <button class="btn btn-light col-sm-2" data-toggle="modal" data-target="#passwordModal"> Password </button>
          </div>
      </div>

    </div>
  </div>

